{% extends "index.html" %} {% block content %}
<form method="post">
	<label for="name">Enter Name</label>
	<input
		type="text"
		name="name"
		id="name"
		placeholder="Your Name"
		required
	/><br />
	<label for="email">Enter Email</label>
	<input
		type="email"
		name="email"
		id="email"
		placeholder="Your Email"
		required
	/><br />
	<label for="city">Enter City</label>
	<select id="city" name="city">
		<option value="">--Your City--</option>
		{% for key, value in cities.items() %}
		<option value="{{key}}">{{ value }}</option>
		{% endfor %}</select
	><br />
	<label for="phone">Enter Phone</label>
	<input
		type="tel"
		name="phone"
		id="phone"
		placeholder="Your Phone Number"
		required
	/><br />
	<label for="order">Enter Order</label>
	<input
		type="text"
		name="order"
		id="order"
		placeholder="Your Order Name"
	/><br />

	<button type="reset">Reset Form</button>
	<button type="submit">Send Form</button>
</form>
{% endblock content %}
